.box {
  margin-bottom: 20px;
}
.input {
  background-color: #4c9be8;
  margin-right: 40rem;
  border: #4c9be8;
  border-radius: 10px;
  height: 2.5rem;
  width: 15rem;
}
.logo {
  font-family: Arial, Helvetica, sans-serif;
}
